<div>
  <div id="header">
    <div class="logo">
      <img src="../../assets/logo.png" alt="ST logo" />
    </div>
    <div>
      <div class="shop">
        <span>Shop</span>
        <div class="downArrow">
          <img  src="../../assets/down_arrow.png" />
        </div>
      </div>
      <div class="aboutUs">
        <span>About Us</span>
      </div>
      <div class="ourStores">
        <span>Our Stores</span>
      </div>
      <div class="contactUs">
        <span>Contact Us</span>
      </div>
      <div class="search">
        <span>Search</span>
        <img class="searchIcon" src="../../assets/search.png" />
      </div>
      <img class="profileIcon" src="../../assets/profile.png" />
      <div>
        <img class="cartIcon" src="../../assets/cart.png" />
        <span class="cartIcon txt" >{{dashBoardServices.itemCount}}</span>
      </div>
    </div>
    <div class="sub-header">
      <div class="subText">
        Invite Friends To Big Fashion Festival & Get Upto $150 MynCash For Every Person Who Visits
        <button class="button-invite">Invite Now</button>
      </div>
    </div>
  </div>
</div>